/src/__history/
/wlx/__history/
/wcx/__history/
/tests/__history/

/wlx/Glimpse.res
/wlx/Win64/
/wlx/Win32/
/wlx/Glimpse.dproj.local
/wlx/Glimpse.identcache
/wlx/Glimpse.delphilsp.json

/wcx/Glimpse.res
/wcx/Win64/
/wcx/Win32/
/wcx/Glimpse.dproj.local
/wcx/Glimpse.identcache
/wcx/Glimpse.delphilsp.json

/tests/Win64/
/tests/Win32/
/tests/GlimpseTests.res

/coverage

.idea
