/src/Glimpse.res
/src/Win64/
/src/Win32/
/tests/Win64/
/tests/Win32/
./idea
src/Glimpse.delphilsp.json
/coverage/Win32/CodeCoverage.exe
/coverage/Win64/CodeCoverage.exe
/src/Glimpse.dproj.local
/tests/GlimpseTests.res
/coverage
/src/Glimpse.identcache
